<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
  

      <div class="container-fluid">
          <div class="row shadow py-3">
            <h1 class="display-2 text-center fw-semibold  text-secondary">Flask Project 2</h1>
            <p class="text-center mb-1 fw-semibold text-danger">" ( With Authentication & Autherization ) "</p>
            <p class="text-center mb-1 fw-semibold text-danger">" ( Todo List Project ) "</p>
          </div>
          <div class="row p-4 border border-bootom">
            <div class="d-flex px-5">
              <p class="fs-5 mb-0">Wellcome : "<strong> {{user.fullname}}</strong>" </strong></p>
               <a href="/logout" class="ms-auto"><button class="btn btn-outline-danger fw-semibold fs-5 px-5 py-1"> Logout <i class="bi bi-box-arrow-right"></i> </button></a>
            </div>
             
            </div>
          </div> 
        <div class="row py-5 px-5 justify-content-evenly">
          <div class="col-3 ">
            <div class="  border">
              <h3 class="text-center  border-bottom p-4">Add A Todo.....</h3>
              <div class="p-4 text-center">
                <form method="post">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control fw-semibold text-secondary" id="floatingInput" placeholder="Todo Title" name="title" required>
                  <label for="floatingInput" class="fw-semibold text-secondary">Todo Title</label>
                </div>
                <div class="form-floating mb-3" >
                  <textarea class="form-control fw-semibold text-secondary" placeholder="Leave a comment here" id="floatingTextarea" name="description" rows="100" style="height: 100px" required></textarea>
                  <label for="floatingTextarea" class='fw-semibold text-secondary'>Tode Description</label>
                </div>
                <button type="submit" class="btn btn-primary px-4 py-2 fw-semibold fs-5 w-50">Add</button>
              </form>
              </div>
            </div>
          </div>
           <div class="col-7 p-0 border">
            <div class="p-4 border-bottom mb-3">
              <h1 class="text-secondary text-center">Your Todos</h1>
            </div>
            {% if not todo_list %}
            <div class="text-center">
              <i class="bi bi-folder-x display-1 text-danger"></i>
              <h1 class=" text-danger">Empty</h1>
            </div>
            {% else %}
            <div class="px-5 py-2">
              <table class="table text-center  py-3 px-5">
                <thead>
                  <tr>
                    <th scope="col">S. No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for todo in todo_list %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.date_time.strftime('%d %b %Y')}}</td>
                    <td>{{todo.date_time.strftime('%I:%M: %p')}}</td>
                    <td><a href="/todo/update/{{todo.id}}/"><button class="btn btn-outline-success"> Update  </button></a> 
                      <a href="/todo/delete/{{todo.id}}/" class="ms-4"><button class="btn btn-outline-danger"> Delete </button></a></td>
                  </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
            </div>
            {% endif %}
            
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>