<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

	<link href="/static/css/style.css" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

	 <div class="container-fluid">
        <div class="row shadow py-3">
          <h1 class="display-2 text-center fw-semibold  text-secondary">Flask Project 2</h1>
          <p class="text-center mb-1 fw-semibold text-danger">" ( With Authentication & Autherization ) "</p>
          <p class="text-center mb-1 fw-semibold text-danger">" ( Todo List Project ) "</p>
        </div>
      </div>	

	<div class="container-fluid mt-5">
		<div class="row">
			{% if message %}
			<div class="col-8 mx-auto">	
				<div class="alert alert-success alert-dismissible fade show" role="alert">
	 				{{message}}
			 		 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
			{% endif %}	
			{% if error_message %}
					<div class="col-8 mx-auto">	
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
	 				{{error_message}}
			 		 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
					{% endif %}
			<div class="col-lg-6 form-block px-4 mx-auto">
				<div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box p-4">
					<div class="text-center mb-3 mt-5">
						<img  src="/static/images/logo.png" width="150px">
					</div>
					<h4 class="text-center mb-4">
						Login into account
						<hr class="border-3 w-25 mx-auto text-info">
					</h4>
					<form method="post"	>
						<div class="form-input text-center">
							<span><i class="fa fa-envelope-o"></i></span>
							<input type="email" name="email" placeholder="Email Address" tabindex="10"required>
						</div>
						<div class="form-input text-center">
							<span class=""><i class="fa fa-key"></i></span>
							<input type="password" name="password" placeholder="Password" required>
						</div>
							
						

						<div class="mb-3"> 
							<button type="submit" class="btn btn-block">
								Login
							</button>
						</div>

						<div class="text-right ">
							<a href="/reset-passwrod-form" class="forget-link">
								Forgot password?
							</a>
						</div>

						<div class="text-center mb-3">
							or login with
						</div>
							
						<div class="row mb-3">
							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</div>

							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-google">
									<i class="fa fa-google"></i>
								</a>
							</div>
							
							<div class="col-4">
								<a href="" class="btn btn-block btn-social btn-twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</div>
						</div>
							
						<div class="text-center mb-5">
							Don't have an account? 
							<a class="register-link" href="/signup/">Register here</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>